@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --accent_color2var: #ff5500;
  --accent_color: #1FDF64;


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #111;
  color: #d1d1d1;

  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: 'Manrope', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 12px 17px;
  border-radius: 20px;
  outline: none;
  border: none;
}

button {
  padding: 12px 50px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: bold;
  
  transition: .2s;
  cursor: pointer;
}

button:hover {
  color: black;
  background: var(--accent_color);
}

button:disabled:hover {
  background: #545454;
  color: #40404a;
  cursor: help;
}

.header {
  padding: 15px 40px;
  background: #222;

  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 3;
}

a {
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  color: #b3b3b3;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  transition: .2s;
}

a:hover {
  color: white;
}

a.active {
  color: var(--accent_color);
}

.search_input {
  padding: 9px 20px;
  margin-left: 20px;

  background: transparent;
  border: 1px solid #696969;
  color: #b6b6b6;

  transition: .2s;
}

.search_input::placeholder {
  color: #b6b6b6;
}

.search_input:focus {
  color: #dcdcdc;
  border: 1px solid #9b9b9b;
}

h1 {
  color: white;
  width: 100%;
}

.page {
  display: flex;
  justify-content: center;

}

.page_content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.search_page_input {
  width: 95%;
}

.anime_list {
  margin-top: 40px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.anime_line {
  background: #222;
  width: 100%;

  border-radius: 30px;

  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;

  max-height: 250px;
}

.anime_line_poster {
  background: blue;

  display: flex;
  align-items: center;
  justify-content: center;

}

.anime_line_poster_image {
  max-width: 200px;
}

.anime_line_info {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 20px 30px;

}

.anime_line_info__title {
  margin: 0;

  font-weight: bold;
  font-size: 24px;
}

.anime_line_info__text {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  color: #9b9b9b;
  font-weight: normal;
  font-size: 14px;
}

.other_names {
  color: #707070;
  margin-left: 20px;
  font-weight: normal;
  font-size: 14px;
}

.span_separator {
  margin-left: 15px;
  margin-right: 15px;

  width: 5px;
  height: 5px;
  padding: 1px;
  border-radius: 50%;

  margin-top: 3px;

  background: #9b9b9b;

}

.anime_line_info__text {
  display: flex;
  align-items: center;
}

.anime_line_info__desc {
  font-size: 14px;
  overflow: hidden;


}

.anime_line_open {
  margin-top: 15px;

  width: 150px;
  text-align: center;
  padding: 12px 0;

  margin-bottom: 0;
}

.anime_line_button {
  display: flex;
  justify-content: right;
}

.release_page_image {
  border-radius: 10px;
}

.release_content {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.release_content_info {
  margin-left: 50px;

  display: flex;
  flex-direction: column;
}

.episodes_content {
  margin-top: 30px;

  width: 100%;
}

.episode_line {
  padding: 0 35px;

  border: 1px solid #222;
  border-radius: 20px;

  margin-bottom: 10px;

  transition: .2s;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.episode_line:hover {
  background: #171717;

}

.release_content_info_down {
  margin-top: 30px;
}

.span_button {
  font-size: 13px;
  color: #757575;
  cursor: pointer;
  margin-right: 20px;

  transition: .2s;
}

.span_button:hover {
  color: #a9a9a9;


}

.episode_line_qualities {
  color: #9b9b9b;
  font-size: 12px;
}

.episodes_count {
  margin-left: 20px;
  color: #9b9b9b;
}

.reacthlsplayer2 {
/*  TODO */

  width: 100%;
  height: auto;

  max-height: 600px;
}

.player_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-height: 100vh;
  overflow-y: hidden;

}

.player2_page_controls {
  flex-direction: column;
  padding: 0;
  text-align: center;
}

.player2_page_controls h1 {
  margin-bottom: 0;
}

.player_page_controls {
  background: #111;
  display: flex;

  padding: 10px 0 10px 0;

  overflow-x: hidden;
}

.player_page_controls button {
  padding: 12px 30px;


}

.player_page_controls_down {


  margin-top: 20px;
}

.player_page_controls button {
  margin-left: 10px;
  margin-right: 10px;
}

.player_pae_controls_buttons {
  display: flex;
  align-items: center;
}

.controls_episode_title {
  color: #97af9f;

  word-break: break-all;
}

.controls_title {
  margin-right: 20px;
}

.inv_sep {
  margin-top: 30px;
  margin-bottom: 30px;
}


.right_episodes_list {
  overflow: scroll;

  height: 100px;
}

.episode_line_active {
  background: #eeeeee;
  color: black;
}

.episode_line_active:hover {
  background: #ffffff;

}

.releases_items {
  display: flex;
  margin-top: 40px;

  max-width: 100%;
  flex-wrap: wrap;

  width: max-content;
  justify-content: space-around;
  align-items: center;


}



.last_release_v {
  border-radius: 20px;
  overflow: hidden;

  transition: .2s;

  cursor: pointer;

  color: transparent;

  margin-top: 10px;
  margin-right: 20px;

  /*min-height: 500px;*/
  min-width: 250px;
  min-height: 357px;
  background: #222;
}

.last_release_v:hover {
  color: #989898;

}

.last_release_v:hover img {
  opacity: 0.1;
  color: red;
}

.last_release_v_poster {
  max-width: 250px;
  width: 250px;


  transition: .2s;
}

.last_release_text {
  position: absolute;
  margin: 30px;
  max-width: 190px;
  word-break: break-word;

  max-height: 290px;
  overflow-y: hidden;

}

.bold {
  font-weight: bold;
}

.last_release_text_desc {
  font-weight: normal;
  margin-top: 5px;

  font-size: 14px;
}

.auth_page_content {
  max-width: 300px;


  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_page_title {
  width: max-content;
}

.auth_page_input {
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;

  background: white;
}

.auth_page_button {
  margin-top: 10px;
  background: white;
}

.auth_span_button {
  text-align: center;

  font-size: 13px;
  cursor: pointer;
  margin-top: 15px;
}

.auth_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_page_button2 {
  padding: 12px 30px;
  font-size: 11px;

  color: #d9d9d9;
  background: transparent;
  border: 1px solid #919191;

  margin-top: 15px;
}

.auth_page_button2:hover {
  color: #d9d9d9;
  background: transparent;
  border: 1px solid #bebebe;
}

.error_p {
  color: #ff4c4c;
}

.error_block {
  width: 100%;
  display: flex;
  justify-content: center;

  position: absolute;

  margin-top: -300px;
  transition: .2s;
}

.error_block_show {
  margin-top: -30px;
}

.error_block_item {
  padding: 12px 30px;
  border-radius: 10px;

  background: #ff4c4c;
  color: white;
}

.favs_releases_items {
  width: 100%;
}

.main_page_title {
  font-size: 70px;
  margin-bottom: 5px;
}

.backgroundvideo{

  position: absolute;
  top: -100px;
  z-index: -1;


  overflow: hidden;
  filter: brightness(0.7);
}

.backgroundCustom {
  /*background-image: url('https://images.pling.com/img/00/00/62/69/92/1730410/anime-forest-011.jpg');*/
  background-image: url('https://i.imgur.com/3X3yJ9N.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}

.main_page_desc {
  width: 100%;
  margin-top: 0;
}

.go_reg {
  width: 100%;
  margin-top: 15px;
}

.footer {
  margin-top: 100px;
}

.header_mob_search{
  display: none;
}

.release_items_null_h1 {
  font-size: 40px;

  text-align: center;

  transform: rotateZ(30deg);

  margin: 0;
  margin-top: -10px;
}

.release_items_null_text {
  margin: 0 0 0 30px;
}

.release_items_null {
  display: flex;
  align-items: center;
  background: #eaeaea;


  padding: 30px;

  border-radius: 10px;
  user-select: none;

  color: #5b5b5b;
}

img {
  color: white;
}

.account_page_text {
  width: 100%;
  margin: 15px;
}

.download_app_title {
  width: 100%;
  text-align: center;
  font-size: 100px;
}

.windows {
  color: #5e5eff;
}

.download_app_button_div {
  margin-bottom: 40px;
  margin-top: 0;
}

.download_app_img {
  width: 100%;
}

.download_app_page {
  flex-direction: column;
  align-items: center;
}

.episode_line_done {
  background: #2c2c2c;
}

.message_rec_div {
  width: 100%;
  display: flex;
  justify-content: center;

  position: absolute;
  z-index: 9999;
}

.message_rec_block {
  margin-top: 200px;
  z-index: 9999;

  padding: 12px 30px;
  background: white;
  color: black;
  border-radius: 15px;
  max-width: 300px;
  cursor: pointer;

  animation: messageFade 1s ease-in infinite;
}

.message_rec_block_hide {
  font-size: 12px;
  margin: 0;
  margin-top: 10px;

  color: #676767;
  text-align: right;
}

@keyframes messageFade {
  0% {
    background: white;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    background: white;
  }
}

.warnmessage {
  position: absolute;
  text-align: center;

  margin-top: 15px;

  font-size: 12px;

  width: fit-content;

  left: 45%;
}

#tsparticles {
  z-index: -1;
  position: fixed;
}

.fof_page {
  display: flex;
  justify-content: center;

  text-align: center;
}

.fof_h1 {
  transform: rotateZ(180deg);

  width: max-content;
  font-size: 100px;

  margin: 0;
}

.fof_page {
  margin-top: 140px;
}

.home_username {
  color: var(--accent_color);
}

.home_blocks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.home_block {
  width: 100%;
}

.fr_list_block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fr_list_block_el {
  width: 80%;
  padding: 15px 30px;
  background: #2a2a2a;
  border-radius: 20px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s;

  border: 1px solid transparent;
  cursor: pointer;
}

.fr_list_block_el:hover {
  background: transparent;
  border: 1px solid #2a2a2a;
}

.friends_list_watching {
  text-align: right;

  display: flex;

  border: 1px solid #3a3a3a;
  color: #9f9f9f;
  padding: 7px 10px;
  border-radius: 10px;

  transition: .2s;
  z-index: 3;
}

.friends_list_watching:hover {
  background: var(--accent_color);
  color: transparent;
}

.friends_list_watching:hover > * {
  display: none;
}

.friends_list_watching:hover > .friends_list_watching_watch {
  display: initial;
}

.friends_list_watching_title {
  color: var(--accent_color);

  margin-left: 0;
}

.friends-list_watching_time {
  margin-left: 10px;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 5px;

  border: 1px solid #7e7e7e;
  color: #9f9f9f;
}

.home_block_title {
  font-size: 13px;
  color: #9b9b9b;
}

.friends_list_watching_watch {
  display: none;
  color: black;
  padding: 0 35px;

  transition: .2s;
}

.kodikplayer {
  width: 610px;
  height: 370px;
}



.choose_player_block {
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.choose_player {
  padding: 10px 20px;
  background: #eaeaea;
  border-radius: 15px;

  color: black;
  text-align: center;
}

.choose_player_title {
  font-weight: bold;
}

.choose_player_list {
  display: flex;
  flex-direction: column;
}

.choose_player_list_el {
  padding: 10px 15px;
  border-radius: 15px;

  border: 1px solid #dcdcdc;
  margin-bottom: 10px;

  color: #252525;

  min-width: 200px;
  user-select: none;
  cursor: pointer;
  transition: .2s;
}

.choose_player_list_el:hover {
  background: #c7c7c7;
}

.choose_player_close {
  margin-top: 5px;
  font-size: 13px;
  color: #9b9b9b;
  cursor: pointer;
}

.release_content_player_button {
  margin-top: 20px;
}

.release_content_player_button p {
  color: #9b9b9b;
  font-size: 13px;
}

.kodik_watch_button {
  margin-left: 10px;
}

.rcpbb {
  margin-left: 10px;
  margin-bottom: 10px;
}


.player2_page_small_text {
  margin-top: 30px;
  font-size: 12px;
  color: #797979;
  max-width: 300px;
  text-align: center;
  user-select: none;
}

.search_under {
  width: 95%;
  text-align: right;
  font-size: 13px;
  color: #888888;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.search_under_el {
  margin-right: 10px;
  transition: .2s;
}

.search_under_el:hover {
  color: #b9b9b9;
}

.search_under_h_selected {
  color: #b9b9b9;
}


.search_under_no_select {
  user-select: none;
  cursor: auto;
}
.search_under_no_select:hover {
  color: #888888;
}

.kodik_release_items {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  margin-top: 40px;

  width: 100%;
}

.small_release_line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 13px 35px;
  border-radius: 15px;
  background: #282828;

  margin-bottom: 15px;

  cursor: pointer;
  transition: .2s;
}

.small_release_line:hover {
  background: #3a3a3a;

}

.small_release_line_el {
  display: flex;
  flex-direction: column;

  width: 200px;
  overflow-x: hidden;
}

.rl_small_el {
  width: 90px;
}

.small_release_line_el_title {
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.small_release_line_el_value {
  font-size: 13px;
  color: #9b9b9b;
}

.main_footer {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;

  font-size: 11px;


}

.main_footer_abs {
  position: absolute;
  bottom: 0;
}
